body,html {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 0;
	width: 90%;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

/*
header
*/
header {
	height:80px;
	border-bottom:thick solid #7d97ad;
	vertical-align: bottom;
	color: #2d3c49;
	text-transform: uppercase;
}
.header_text {
	text-align:right;
	display: inline-block;
	float: right;
}
.header_name {
	font-size: 2em;
	font-weight: 100;
}
.header_description {
	font-size: 1em;
	font-weight:normal;
}
.logo {
	max-height: 50px;
	max-width: 50px;
}

/*
Main image.. 
*/
.main_image {
	width: 100%;
	background-image: url("./images/Fjords.jpg");
	background-size:cover;
	margin-top: 2em;
	height:50%;
}

/*
Featured Work 
*/
h1{
	font-size: 2.25em;
	font-weight: 100;
	color: #7d97ad;
}
.work_container {
	margin-top: 2em;
	width: 100%;
	display: flex;
   	flex-direction:row;
	justify-content: space-between;
}
.work_content {
	width: 25%;
	margin: 0;
	display:inline-block;
}

.work_image {
	width:50%;
	display: block;
	margin:auto;
}

.work_description{
	color:#2d3c49;
	font-size: 0.75em;
	text-align:center;
	vertical-align: text-bottom;
	margin-top: 1.75em;
}

.work_link {
	text-align: center;	
	font-size: 0.75em;
	margin-top: 0.75em;
}

a {
	color:#7d97ad;	
}




